# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SEPM project\mafood-cuisine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
